#portfolioTopImage{
  height: 1080px;
  width: 2048px;
}

#portfolioContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
}

#portfolioImgContainer {
  position: relative;
  width: 50%;
}

#portfolioImgImage img {
  width: 100%;
  height: auto;
}

#portfolioImgButton{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#portfolioImgButton:hover {
  background-color: black;
}
