body {
  background-color: #ECEDF9;
}

#portfolioTopImage{
  height: 1080px;
  width: 2048px;
}
#navbar /* Style the navbar */ {
  overflow: hidden;
  background-color: #333;
  margin: 0px;
  padding: 0px;

}

#navbar a   /* Navbar links */ {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

#indexTopJumbotron {
  text-align: center;
}
 #indexTopPicture {
  width: 100%;
  height: ;
}

#aboutRow{
  display: flex;
}

#aboutCol {
  flex: 50%;
}

#aboutYoungerDaysJumbotron {
  text-align: center;
}

#aboutYoungerDaysPicture {
  width: 300px;
  height: 250px;
}

#aboutTwentyJumbotron {
  text-align: center;
}

#aboutTwentyPicture {
  float: left;
  width: 300px;
  height: 250px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

#portfolioContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Container needed to position the button. Adjust the width as needed */
#portfolioImgContainer {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
#portfolioImgImage img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
#portfolioImgButton{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#portfolioImgButton:hover {
  background-color: black;
}
