body {
  background-color: #ECEDF9;
}

#navbar {
  overflow: hidden;
  background-color: #ECEDF9;
  margin: 0px;
  padding: 0px;
}

#navbar a  {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

#indexTopJumbotron {
  text-align: center;
}
 #indexTopPicture {
  width: 100%;
  height: ;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
